version: '3'
services:
  parity-stable:
    image: parity/parity:stable
    ports:
      - 8180:8180
      - 8545:8545
      - 8546:8546
      - 30303:30303
    command:
      ui
      --chain=kovan
      --ui-interface=all
      --jsonrpc-interface=all
      --allow-ips=public
      --ws-hosts=all
      --ws-origins=all
      --ws-interface=all
    volumes:
      - ~/.local/share/io.parity.ethereum//:/root/.local/share/io.parity.ethereum/
